@{
    ViewBag.Title = "About";
}
<h2>About LLW Incorporated</h2>


<p>
    LLW Incorporated has been in the business of helping customers for over 50 years. We have over 75
    years of experience on our team to help you with a smoother life balance. We are here to help with
    any situation or upgrade that would be better for your family. Most customers use our product to organize
    all of their lists throughout the week, so when they go shopping they can go down the list on thier mobile
    device and check them off while they are in the store. For an additional cost you can order our product where
    you would have the ability to sort your list by area or aisle so you can go right through the store. in the future
    we are working with Wal-Mart as they standardize their stores so we can pull their items automatically
    as you start typing and it will show you the aisle number to make your list even more effecient. We are a breaking
    edge technology company so please login to get our newsletter on how you can purchase upcoming items that we will
offer. </p><br />

    <h1>Our Staff</h1>
    <p><b>Jenifer Lawyer, Control Manager</b></p>
<ul>
    <li>
        Jennifer has been working for the company for 30 years. She is the most educated employee
        that LLW has on its staff. She is not only a staff member, but also the owner of this company. 
        She is great with customers, team leadership, and technical skills. Jennifer is a dedicated to her
        work and enjoys dancing as her main outside hobby. 
    </li>
</ul>
    <p><b>Sean Lehman, Tester</b></p>
<ul>
    <li>
        Sean has been with the company for 25 years. He is very educated in the .Net testing field. This company
        would not have achieved the success that we have had without Sean. He is one of the most logical employees
        in our organization and brings a lot to our team meetings. Sean is also very dedicated to his work and
        his hobbies consist of golf and clock repair. He has people call him all over the World to work on old 
        grandfather clocks. 
    </li>
</ul>
    <p><b>Chris Wainscott, Project Manager</b></p>
<ul>
    <li>
        Chris has been with the company for 21 years. He is in charge of keeping track of our products and the 
        front-end work on our sites. He does some of the marketing for our company as well. Chris is dedicated to 
        his job and builds websites as a hobby to stay up on all of the new technology coming out to help in our 
        business and our customers. 
    </li>
</ul>
   