@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">

    <img src="~/Content/img/mountain with cabin.jpeg" width="100%" height="402" />

    <h1>LLW Incorporated</h1>
    <p>When you live out here you need to make great lists for the store. </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What is the Shopping List tab?</h2>
        <p>
            This will allow you to see the different shopping list that you have stored. You would create a different
            list for each store that you are shopping at or each department. This way you can go into one list for
            your groceries and show or edit that list without looking at all the other items at the other stores.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Do I need this App?</h2>
        <p>
            How many times have you left the house without your list? How many times have you went to a store and
            realized that you forgot an item at a store you just left? You are a busy person and need to consolidate
            your life functions so you can spend more time with your family life balance. You can do all of that with
            our app and you wont ever leave your list at home anymore with access to it on your phone.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What you will find in this Application!</h2>
        <p>
            When your on the Shopping List page. That will show you the different lists and from there you can
            go see the details for each list by clicking show. You can Delete the items on the list or delete the whole
        list. It is up to you and when you delete one item, it will delete it from the other lists.</p>
    </div>
</div>